<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>For uploading Profile image</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.728558580549-u5ei3ucl9ffve96db8fk3cc6b8q3k9g0</string>
			</array>
		</dict>
	</array>
    
    <key>UIApplicationShortcutItems</key>
    <array>
        <dict>
            <key>UIApplicationShortcutItemIconFile</key>
            <string>icon_coffee</string>
            <key>UIApplicationShortcutItemTitle</key>
            <string>Order Coffee</string>
            <key>UIApplicationShortcutItemType</key>
            <string>OrderCoffeeAction</string>
        </dict>
        
        <dict>
            <key>UIApplicationShortcutItemIconFile</key>
            <string>cake_icon</string>
            <key>UIApplicationShortcutItemTitle</key>
            <string>Order Cake</string>
            <key>UIApplicationShortcutItemType</key>
            <string>OrderCakeAction</string>
        </dict>
        
        <dict>
            <key>UIApplicationShortcutItemIconFile</key>
            <string>meal_icon</string>
            <key>UIApplicationShortcutItemTitle</key>
            <string>Order Meal</string>
            <key>UIApplicationShortcutItemType</key>
            <string>OrderMealAction</string>
        </dict>
    </array>
            
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
